<datasource-http-settings current="ctrl.current">
</datasource-http-settings>

<div class="gf-form-group">
  <h3 class="page-heading">PvAccess URI settings</h3>

  <div class="gf-form">
    <span class="gf-form-label width-10">
      Query RPC ch
    </span>
    <input class="gf-form-input max-width-21"
           type="text"
           ng-model="ctrl.current.jsonData.queryCh"
           placeholder="Query RPC channel Name"
           >
    </input>
  </div>

  <div class="gf-form">
    <span class="gf-form-label width-10">
      Annotation RPC ch
    </span>
    <input class="gf-form-input max-width-21"
           type="text"
           ng-model="ctrl.current.jsonData.annCh"
           placeholder="Annotation RPC channel Name"
           >
    </input>
  </div>

  <div class="gf-form">
    <span class="gf-form-label width-10">
      Enable Search
    </span>
    <gf-form-switch label-class="width-12"
        checked="ctrl.current.jsonData.enbSearch">
    </gf-form-switch>

    <span class="gf-form-label width-10" ng-show="ctrl.current.jsonData.enbSearch">
        Search RPC ch
    </span>
    <input class="gf-form-input max-width-21"
             type="text"
             ng-model="ctrl.current.jsonData.searchCh"
             placeholder="Search RPC channel name"
             ng-show="ctrl.current.jsonData.enbSearch"
             >
    </input>
  </div>
</div>

<div class="gf-form-group">
  <h3 class="page-heading">PvAccess query arguments settings</h3>

  <div class="gf-form">
    <span class="gf-form-label width-10">
      NTURI style request
    </span>
    <gf-form-switch label-class="width-12"
        checked="ctrl.current.jsonData.enbNTURI">
    </gf-form-switch>
  </div>

  <div class="gf-form">
    <span class="gf-form-label width-10">
      Entity filed label
    </span>
    <input class="gf-form-input max-width-21"
           type="text"
           ng-model="ctrl.current.jsonData.entityLabel"
           placeholder="Entity field label"
           >
    </input>
  </div>

  <div class="gf-form">
    <span class="gf-form-label width-10">
      Start filed label
    </span>
    <input class="gf-form-input max-width-21"
           type="text"
           ng-model="ctrl.current.jsonData.startLabel"
           placeholder="Start field label"
           >
    </input>
  </div>

  <div class="gf-form">
    <span class="gf-form-label width-10">
      End filed label
    </span>
    <input class="gf-form-input max-width-21"
           type="text"
           ng-model="ctrl.current.jsonData.endLabel"
           placeholder="End field label"
           >
    </input>
  </div>

</div>

<div class="gf-form-group">
  <h3 class="page-heading">PvAccess parameters</h3>

  <div class="gf-form">
    <span class="gf-form-label width-10">
      No of Parameters
    </span>
    <input class="gf-form-input max-width-21"
           type="number"
           value=0
           ng-model="ctrl.current.jsonData.noparams"
           placeholder="No of Query RPC Parms"
           ng-change="ctrl.changeParamNo()"
           required>
    </input>
  </div>

  <div ng-repeat="param in ctrl.current.jsonData.param_names track by $index">
    <div class="gf-form">
      <span class="gf-form-label width-10">
          Param {{$index}} name
      </span>
      <input class="gf-form-input max-width-21"
             type="text"
             value=0
             ng-model="ctrl.current.jsonData.param_names[$index]"
             placeholder="param name"
             required>
      </input>
    </div>
  </div>
</div>
